Html/
Pdf_output/
Png/
2025_Coldigiocco_presentation.toc
2025_Coldigiocco_presentation.snm
2025_Coldigiocco_presentation.run.xml
2025_Coldigiocco_presentation.out
2025_Coldigiocco_presentation.nav
2025_Coldigiocco_presentation-blx.bib
R/*.png
R/*.pdf
